.b2{
    margin-bottom: 15%;
}
.b2-first p{
    background:  linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
line-height: 2.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    font-weight: 600;
    }
    .b2-first{margin-top: 50px;
    }
    .b2-second{
        position: relative;
        top: 70px;
        column-gap: 20px;
        margin-left: 10%;
    }
    .b2-s1{
        background-color: #042c54;
        text-align: justify;
width: 25%;
    }
    .b2-s1 img{
        width: fit-content;
        
    }
    .b2-s1 p{
        
            margin-top: 10rem/* 160px */;
            margin-bottom: 2.5rem;
    }
   .fff{
    font-size: 1.875rem;
    line-height: 2.25rem;

   }
    .b2-s2{
        
width: 20%;
    }
    .bs2-one{
        background-color: #042c54;
        height: 47%;
        text-align: left;
    }
    .bs2-second{
        background-color: #042c54;
height: 47%;
text-align: left;
    }
    .b2-s3 img{
        width: fit-content;
    }
    .b2-s3{
      width: 25%;  
        /* background-color: #042c54; */
    }
    @media screen and (max-width:784px){
        .fff{
            font-size: 1rem;
            line-height: 1.25rem;
        }
        .b2-s2{
            width: 35%;
        }
        .b2-s3{
            width: 35%;
        }
    }
  @media screen and (max-width:575px){
    .b2-second{
        flex-direction: column;
        margin:auto;
    }
    .b2-s1{
        margin-bottom: 30px;
        width: 100%;
    }
    .b2-s2 {
        width: 100%;
        margin-bottom: 30px;
    }
    .b2-s3 {
        width: 100%;
        margin-bottom: 30px;
    }
    .b2-s1 p{
        margin-top: 0rem;
        margin-bottom: 0.5rem;
    }
  }
