.cat-one{
    width: 80%;
    height: fit-content;
    background-color: aquamarine;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    margin-left: 8%;
    margin-bottom: 6%;
    border-radius: 8px ;
}
.btn{
    margin-left: 45%;
   margin-top: 20px;
   height: 50px;
   border-radius: 10px;
   margin-right: 20px;
   /* margin-bottom: 10px; */
   width: 300px;
}
@media screen and (max-width:600px){
    .btn{
        font-size: x-small;
        width: 400px;
    }
}
@media screen and (max-width:740px){
    .hue{
        font-size: 0.8rem;
        line-height: 1rem ;
    }
}
@media screen and (max-width:620px){
    .btn{
        margin-left: 20%;
        margin-bottom: 20px;
    }
}
