.header{
    color: white;
    /* color:#81AFDD; */ 
    display: flex;  
margin: 30px 0px;
}
.header a{
    text-decoration: none;
    color: white;
    margin: 0px 20px;
}

.h-right{
    position: absolute;
    right: 3%;
    display: flex;
    top: 15px;
    height: 3rem;
    width: 7rem;
    justify-content: center;
    align-items: center;
 background-color: orangered;   
}
.h-r1{
    position: absolute;
    right: 20%;

}
.h-right:hover{
background-color: orange;
}
.h-one{
    position: absolute;
    left: 4%;
}

.xx{
    width: 25px;
    height: 2px;
    background-color: white;
    margin-bottom: 3px;
    
}
.ham{
    margin-left: 5%;
    display: none;
    margin-top: 4px;
}
.ih-list{
    list-style: none;
    color: white;
}
/* copy */
@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.top-nav {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > a {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 15%;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu a {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu a {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* copy */
@media screen and (max-width: 880px){
.h-one{
    font-size: small;
}
.h-one a{
    margin: 0px 10px;
}
}
@media screen and (max-width:680px){
    .h-one{
        font-size: x-small;
    }
    .h-one a{
        margin: 0px 10px;
    }
    .h-r1{
        right: 15%;
    }
    .h-right{
        right: -8%;
    }
}
.users{
    display: none;
}
@media screen and (max-width:540px){
    .top-nav{
        display: flex;
        margin-left: 20%;
        margin-top: -10px;
    }
    .h-one{
        display: none;
    }
    .ham{
        display: block;
    }
.users{
    display: block;
    position: absolute;
    right: 10%;
    
}

.header a{
    margin: 0px 7px;
}
.h-r1{
    display: none;
}
.h-right{
    display: none;
}
}
